*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  background-color: rgb(43, 41, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.content{
  display: flex;
  gap: 1rem;
}


